#navbar
{
	background-image:url("res/header-wave.png");
	background-size:100% 100%;

}
.navbar
{
	height:2vw;
	width:auto;
}
#logo
{
	width:10vw;
}


#slider
{
  -webkit-animation: fadein 2s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1;}
}

.effect  {
    color: black;
    -webkit-mask-image: -webkit-gradient(linear,center center, center bottom, 
    from(rgba(1,1,0,1)), to(rgba(0,0,0,0.2)));
}
#g1,#i1,#j1,#k1,#l1,#m1,#n1,#o1,#q1,#r1,#s1,#t1,#u1,#v1,#w1,#ba1,#bb1,#bc1,#bd1,#be1,#bf1,#bh1,#bi1,#bj1,#bk1,#bl1,#bm1,#bn1
{
	background-color:#1a8cff;
	border-radius: 24px;
	color:white;
	display:block;
	width:100px;
	font-size:1.4rem;
    margin: 0 auto;
}

#g2,#i2,#j2,#k2,#l2,#m2,#n2,#o2,#q2,#r2,#s2,#t2,#u2,#v2,#w2,#ba2,#bb2,#bc2,#bd2,#be2,#bf2,#bh2,#bi2,#bj2,#bk2,#bl2,#bm2,#bn2
{
	background-color: transparent;
	border:none;
	color:blue;

}

li{
	background-color:#94b8b8;
	margin:15px 10px;
	border-radius: 24px;
	width:9vw;
	height:auto;
	padding:0vw;
	font-size:1.1vw;
	text-align:center;
	box-shadow:0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
li a{
	color:white;
	margin:-6px;
}
.active
{
	background-color:#1a8cff;
}

.row
{
	margin-top:5.8vw;
	margin-right:1vw;
	margin-left:2vw;
	background-image:url("res/Layer 4.png");
	background-size:60% 50%;
	height:auto;
	background-repeat: no-repeat;
	background-position:5% 90%;
	text-align: justify;
}

h1
{
	text-decoration: underline;
	font-family: 'B612';
	font-size:3vw;
}
#heading
{
	background-color:#AD88E2;
	width:auto;
	height:auto;
}
h3
{
	font-size:1.8vw;
	padding:1.5% 1%;
	font-family: 'Capriola';
	line-height: 1.5;
}

 h2
{
	font-size:2.6vw;
	text-align:center;
	color:#3A0C75;
	 font-family: 'Convergence';
	 font-weight: 900;
	line-height: 1.5;
	text-decoration: none;
	text-transform: uppercase
	;
}

p
{
	font-family: 'Karla';
	font-size:1.32vw;
}
#carousel-bounding-box
{
	margin:0 auto;
}

#ima
{
	margin-top:7vw;
	position:relative;
	left:10vh;
	display:inline-block;
}

.imgs  {
	min-width:70%;
	max-width:70%;
  	height:auto;
  	border:1px solid #1a0d00;
  	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);

}

.carousel-controls-mini {
	margin-top:	0px;
	font-size:1.5vw;

}


.carousel-controls-mini > #arr1
{
	margin:0 5vw 0 4.2vw;
	font-size:3.2vw;
	
}
.carousel-controls-mini > #arr2
{
	margin:0 0 0 5.3vw;
	font-size:3.2vw;
	
}


#sec
{
	background-image:url("res/bg-spots.png");
	background-size:80% 90%;
	background-repeat:no-repeat;
	background-position:35% 0%;
	z-index:-999;
	margin-left:-1vw;

}

#sec h1
{
	font-size:3vw;
	font-family: 'B612';
}



.carousel-control{
	height:77%;
	margin: 12vw -35%;
	z-index:1;
	background: none !important;
    filter: progid:none !important;>
}



#footer
{
	position:absolute;
	margin-top:20vw;
	height:80px;
	width:100%;
	background-image:url("res/footer-wave.png");
	background-size:100% 100%;
}

#myBtn1 {
  display: block;
  background-color:transparent;
  position: fixed;
  bottom: 1vw;
  right:48%;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
}

#myBtn {
  display: none;
  background-color:transparent;
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
}



@media(max-width:767px)
{


.row
{
	margin-top:2.2vw;
}
.navbar
{
	height:2vw;
	width:auto;
}

#logo
{
	width:13vw;
	margin-top:-1vw;
}

#heading
{
	background-color:#AD88E2;
	width:auto;
	height:auto;
}


	h1
{
	font-size:5.2vw;
}

h3
{
	font-size:2.8vw;
}

 h2
{
	font-size:3.6vw;
}

p
{
	font-size:2.32vw;
}

#g1,#i1,#j1,#k1,#l1,#m1,#n1,#o1,#q1,#r1,#s1,#t1,#u1,#v1,#w1,#ba1,#bb1,#bc1,#bd1,#be1,#bf1,#bh1,#bi1,#bj1,#bk1,#bl1,#bm1,#bn1
{
	width:90px;
	font-size:1.2rem;
	padding-right:1.5%;
}


#ima
{
	margin-top:5vw;
	margin-left:8vw;
	margin-right:8vw;
	position:relative;
	left:10vh;
	display:inline-block;
	text-align:center;
}

.imgs  {
	margin-right:15%;
	min-width:80%;
	max-width:80%;

}

.carousel-controls-mini {
	margin-top:	0px;
	font-size:2.5vw;
	width:80%;

}


.carousel-controls-mini > #arr1
{
	margin:0 5vw 0 0vw;
	font-size:4.2vw;
	
}
.carousel-controls-mini > #arr2
{
	margin:0 0 0 5.3vw;
	font-size:4.2vw;
	
}


#sec
{
	background-image:url("res/bg-spots.png");
	background-size:80% 90%;
	background-repeat:no-repeat;
	background-position:35% 0%;
	z-index:-999;
	margin-left:-1vw;

}

#sec h1
{
	font-size:5vw;
}
.carousel-control{
	height:77%;
	margin: 12vw -35%;
	z-index:1;
	background: none !important;
    filter: progid:none !important;>
}



#footer
{
	position:absolute;
	margin-top:6vw;
	height:7vw;
	width:100%;
}


}


@media(max-width:320px)
{


.row
{
	margin-top:4.9vw;
}
#navbar
{
	height:8vw;
	width:auto;
}

#logo
{
	width:15vw;
	margin-top:-2vw;
}


	h1
{
	font-size:6vw;
}

h3
{
	font-size:4.5vw;
	padding:1% 1%;
	line-height: 1.5;
	text-align:left;
}

 h2
{
	font-size:3.6vw;
}

p
{
	font-size:3.32vw;
}

#g1,#i1,#j1,#k1,#l1,#m1,#n1,#o1,#q1,#r1,#s1,#t1,#u1,#v1,#w1,#ba1,#bb1,#bc1,#bd1,#be1,#bf1,#bh1,#bi1,#bj1,#bk1,#bl1,#bm1,#bn1
{
	width:74px;
	font-size:1rem;
	padding:1.5%;
}


#ima
{
	margin-top:5vw;
	margin-left:-10vw;
	margin-right:50vw;
	text-align:center;
}

.imgs  {
	min-width:150%;
	max-width:150%;

}

.carousel-controls-mini {
	margin-top:	0px;
	font-size:3vw;
	width:150%;

}


.carousel-controls-mini > #arr1
{
	margin:0 5vw 0 0vw;
	font-size:4.4vw;
	
}
.carousel-controls-mini > #arr2
{
	margin:0 0 0 5.3vw;
	font-size:4.4vw;
	
}



#sec h1
{
	font-size:6vw;
}
.carousel-control{
	height:77%;
	margin: 12vw -35%;
	z-index:1;
	background: none !important;
    filter: progid:none !important;>
}



#footer
{
	position:absolute;
	margin-top:6vw;
	height:7vw;
	width:100%;
}

}